
/* main css */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:  monospace;
    color: white;
    vertical-align: middle;
}

 /* global styles  */

ul {

    list-style-type: none;
    font-size: 1.5rem;
    padding: 0.3rem;
}

a {
    text-decoration: none;
    color:white;
    padding: 0.3rem 1.5rem;
}

/* navbar style  */

.navbar {

    display: flex;
    font-weight: bold;
    justify-content: space-between;
    height: 5rem;
    background-color: grey;
    align-items: center;
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    right: 0px;     
}

 /* sidebar style  */

.sidebar {

    position: fixed;
    height: 100%;
    width: 15rem;
    text-align: center;
    justify-content: space-around;
    line-height: 15vh;
    z-index: 1000;
    background-color: grey; 
    display: none;

}

 /* side icon style  */

#side_icon {

margin-left: 1.5rem;
cursor: pointer;
display: none;
font-size: 2.5rem;

}

 /* sidebar close icon style  */

.sidebar > .close-icon {

    font-size: 5rem;
    cursor: pointer;
    width: 30%;
    margin: 0px auto;
    color: rgb(6, 235, 120);

}

.sidebar  div  a {font-size: 1.5rem;}

.sidebar  div  a:hover,
.options  span a:hover { 

    background-color: rgb(24, 202, 172);
    border-radius: 20px;

}

.options  span  a{ cursor:pointer;font-size: 1.5rem;}

 /*  name style */

.name {margin-right: 3rem;font-size: 1.8rem;}


/* fixed background style  */

.fixed-background {

    height:auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    z-index: -1;
    background-color: black;

}


/* common section's styles*/

.home,
.about,
.education,
.skills
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 7rem 0rem 3rem 0rem;
    padding : 7rem 0rem;

}

.home {height: 100vh;padding: 0rem;margin-top: 1rem;}

 /* greet style  */

.greet { width: auto;padding: 1rem;}


 /* animation on greet  */

.typewriter  {
    
    color: #fff;
    font-size: 4rem;
    overflow: hidden; 
    border-right: .15em solid rgb(189, 27, 94); 
    white-space:nowrap;
    margin: 0 auto;
    animation: 
      typing 3s steps(30, end),
      blink-caret 0.5s step-end infinite;

  }
  
  @keyframes typing {

    from { width: 0 }
    to { width: 100% }

  }

  @keyframes blink-caret {

    from, to { border-color: transparent }
    50% { border-color: rgb(189, 27, 94)}

  }

  /*  heading style for each sections  */

  .heading {
    margin: 0rem auto;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0px ;
    color: rgb(189, 27, 94);
    font-weight: 800;

}

/* profile images */

.image {

    height: 18rem;
    width: 25rem;
    background-image: url("./assets/aniket.jpg");
    background-size: cover;
    margin: 4rem;
    box-shadow: 10px 10px 8px gray;
    border: 11px solid rgb(24, 202, 172);

}

#skill_set {

    font-weight: bold;
    color: rgb(24, 202, 172);
    font-size: 3rem;
    text-shadow: 5px 5px 5px rgb(3, 10, 10);
    padding: 1rem;

}

 /* about section styles  */

.intro {

    display: inline-block;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 2.5rem;

}

.intro  h2 {  color: rgb(24, 202, 172);}


/* education section styles  */

.institute-details {

    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;
    padding: 2rem;
}

.education > .institute-details  p {

    font-size: 1.7rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.education > .institute-details  img {

    height: 20rem;
    width: 20rem;
    margin-top: 1rem;
    background-color: white;

}

/* skill section styles  */

.boxes {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* style for each icons in skill section */

.icon-style {

    font-size: 1.7rem;
    color: rgb(24, 202, 172);
    font-weight: 500;
    padding: 1.5rem;

}

/* coding profiles style  */

.coding_profiles {display: flex;align-items: center;justify-content: center;}
.coding_profiles  li a:hover {background-color: rgb(138, 224, 210);border-radius: 20px;color: black;}

/* contacts style  */

.contacts {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;

}

.contacts > .heading { margin: 1rem 0rem;}
.contacts  ul { display: flex;}
.contacts  ul  li { font-size: 2rem;}
.contacts  ul li a i:hover {
    color: rgb(24, 202, 172);
}

 /* footer style  */

.footer {

    text-align: center;
    color: rgb(24, 202, 172);
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}



/* Responsive web design using media queries */


 @media only screen and (max-width : 1242px) {

    #side_icon {

        display: flex;
        padding: 2px;
        margin-bottom: 1px solid black;
        cursor: pointer;

    }
    .options {

        display: none;

    }
    .intro {
        padding: 2rem;
    }
    .institute-details {
        padding: 1rem;
        font-size: 1.5rem;
    }
    .home > .greet  p {

        font-size: 2.5rem;

    }

}

 @media only screen and (max-width : 810px) {

    .home > .greet  p {

        font-size: 2rem;

    }

    .skills > .boxes {
        flex-direction: column;
        justify-content: flex-start;
    }

    .intro {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .education > .institute-details  p {
        font-size: 1.4rem;
    }

    #skill_set {
        font-size: 2.5rem;
    }

    .heading {
        font-size: 2rem;
    }
    .icon-style {
        font-size: 1.3rem;
        padding: 1rem;
    }

    .contacts  ul  li {
        font-size: 1.8rem;
    }
}


 @media only screen and (max-width :600px) {

    .navbar {
        height: 4rem;
    }
    .name {
        font-size: 1.5rem;
    }
    #side_icon {
        font-size: 1.6rem;
    }
   .sidebar > .close-icon {
        font-size: 4rem;
    }

    .home > .greet  p {

        font-size: 1.6rem;

    }

    .coding_profiles {
        flex-direction: column;
        align-items: flex-start;
    }

    
    #skill_set {
        font-size: 2.1rem;
    }

    li,.education > .institute-details  p , .intro {
        font-size: 1.2rem;
    }

    .contacts  ul  li {
        font-size: 1.6rem;
    }
    
    .footer {
        font-size: 1rem;
    }

}


@media only screen and (max-width: 420px) {

    .navbar {
        height: 3.5rem;
    }
    .sidebar {
        width: 10rem;
    }
    .sidebar  div a {
        font-size: 1.1rem;
    }
    .name {
        font-size: 1.4rem;
    }
    #side_icon {
        font-size: 1.5rem;
    }
    .sidebar > .close-icon {
        font-size: 3.5rem;
    }
    .home > .greet  p {

        font-size: 1.3rem;
    }
    #skill_set {
        font-size: 1.5rem;
   }
   .intro  h2 {
       font-size: 1.5rem;
   }
   .education > .institute-details   {  
       padding: 0.7rem;
   }

    .home > .image {
        height: 15rem;
        width: 20rem;
    }

    .intro {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
   
    .icon-style {
        font-size: 1.2rem;
        padding: 0.7rem;
    }
    .education > .institute-details  img {
        width: 17rem;
        height: 17rem;
    }
    
    .about , .education , .skills , .contacts {
        padding: 5rem 0rem 1rem 0rem;
        margin: 4rem 0rem 3rem 0rem;
    }
    

}

@media only screen and (max-width: 350px) {

    .heading {
        font-size: 1.6rem;
    }

    .home > .greet  p {

        font-size: 1.2rem;
    }

    .intro {
        font-size: 1.1rem;
        line-height: 1.8rem;
        word-wrap: none;
    }
    .intro  h2 {
        font-size: 1.3rem;
    }
    .home > .image {

        height: 13rem;
        width: 18rem;
    }
    .about , .education , .skills , .contacts {
        padding: 3rem 0rem 1rem 0rem;
        margin: 2rem 0rem 2rem 0rem;
    }

    .education >.institute-details  img {
        width: 15rem;
        height: 15rem;
    }
    .education > .institute-details  p {
        font-size: 1.1rem;
    }
    .icon-style {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    ul {
        font-size: 1.05rem;
    }

    .footer{
        font-size: 0.7rem;
    }
    
    #side_icon {
        font-size: 1.2rem;
    }
    .name {
        font-size: 1.2rem;
    }

    .sidebar > .close-icon {
        font-size: 2.5rem;
    }
    .sidebar{
        width: 10rem;
    }
    .sidebar  div  a {
        font-size: 1.1rem;
    }

    .contacts  ul  li {
        font-size: 1.3rem;
    }
}  




